* {
    color: white;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    margin: 0;
    background-image: url(media/depositphotos_53655223-stock-photo-space-full-of-stars-seamless.png);
    background-repeat: repeat;

    overflow-x: hidden;
}

h1 {
    font-family: "Roboto Serif";
    text-align: center;
}

#visualisation {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

#sliderDiv {
    width: 1200px;

    position: absolute;
    display: flex;
    justify-content: center;
    top: 20px;
}

.displayText {
    font-size: 5px;
}

#text {
    display: flex;

    align-items: center;
    flex-direction: column;
    gap: 15px;


}

#textDiv1,
#textDiv2,
#textDiv3,
#textDiv4 {
    width: 800px;
    font-size: 18px;
    font-family: "Roboto Serif";
    border-radius: 5px;
    padding: 10px;
    color: white;
}

h3 {
    margin-bottom: 5px;
}

.selected {
    fill: gold;

}

.legend {
    fill: white;
}

.gSlider {
    fill: white;
}

.cell:hover {
    cursor: pointer;
}

#container {
    width: 1400px;
}

.rectViz:hover {
    cursor: move;
}